body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 350px;
    padding: 20px;
}

.camera-container {
    width: 650px;
    padding: 20px;
}

.button, .subButton, .backButton {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.button:hover, .subButton:hover, .backButton:hover {
    background-color: #0056b3;
}

.camera-feed {
    width: 150px;
    height: auto;
    border-radius: 4px;
    background-color: #000; /*colour while camera is loading*/
}